<div class="projectCard">
        <div class="header">
          <span class="circle"></span>
          {{!-- <h2> PROJECT: DELIVERY SERVICES EASTLAKES</h2> --}}
          <h2>{{user.firstname}}</h2>
        </div>
        {{!-- <p>Woolworths Eastlakes offers their customers same-day and on-demand
          delivery options. This campaign drives new customers to the Eastlakes
          delivery service.</p> --}}
          <p>{{user.project.description}}</p>
        {{! <div class="d-flex"> }}
        {{! <h5><span><i class="fas fa-bullseye"></i></span> Total views: 2000</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total ad clicks: 500</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total registrations: 50</h5>
      </div> }}
</div>