<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projectify</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css" integrity="sha512-ox96Q1iqhM5TvdY4gVbz6FXoDwsR/Q8jq15kWReQNefC+uUGCv+pkMbLOtr176K3+bfrQQv6gTDAvhL1PUw2YQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> }}
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <section class="navigation ui secondary menu">
        <nav>
          <div class="nav-group">
            <div class="logo-container"><img
                src="./images/projectify_logo.png"
                alt="Projectify"
                class="projectifyIcon"
              /></div>
            <a href="/" class="home item active">Home</a>
            <a href="/signup" class="signup item">Sign up</a>
            <a href="/products" class="team item">Product</a>
            <a href="/team" class="product item">Team</a>
            {{#if loggedIn}}
              <a id="logout" href="" class="logout item">Log Out</a>
            {{else}}
              <a href="/login" class="item">Log In</a>
            {{/if}}
          </div>
          <div class="nav-group">
            {{#if loggedIn}}
              <a href="/yourDetails" class="yourDetails item">Your Details</a>
              <a href="/dashboard" class="dashboard item">Dashboard</a>
              <a href="/projects" class="projects item">Projects</a>
              <a href="/invoices" class="invoices item">Invoices</a>
            {{/if}}
          </div>
        </nav>
      </section>
    </header>

    <main class="container">
      <!-- Render the sub layout -->
      {{{body}}}
    </main>

    <footer>
      <div id="footer-nav-container">
        <div>
          <a class="product" href="/login">Login</a>
          <a class="privacy" href="/privacy">Privacy Policy</a>
          <a class="terms" href="/faq">FAQ</a>
          <br />
          <p>© 2021 Projectify. All rights reserved</p>
        </div>
        <div class="logo">
          <div class="logo-wrapper">
            <img src="./images/projectify_logo_white.png" alt="" />
          </div>
        </div>
      </div>
    </footer>

  </body>
  <script src="/js/script.js"></script>
  <script src="/js/logout.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>
</html>