<section class="dashboardPage">
    <h2>Campaign Results</h2>
    <div class="d-flex">
        <div class="imgBlock">
            <div class="img-wrapper"><div id="container2"></div></div>
        </div>
        <div class="imgBlock">
            <div class="img-wrapper">
                 <div id="container"></div>
            </div>
        </div>
        <div class="imgBlock">
            <div class="img-wrapper">
                 <div id="container3"></div>
            </div>
        </div>
    </div>
     <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
      Highcharts.chart("container", {
        chart: {
          type: "column",
        },
        title: {
          text: "Facebook clicks by month",
        },
        xAxis: {
          categories: ["Jan", "Feb", "Mar"],
          //   crosshair: true,
        },
        yAxis: {
          min: 0,
          title: {
            text: "FB clicks",
          },
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0,
          },
          series: {
            label: {
              enabled: false,
            },
          },
        },
        series: [
          {
            name: "Project 1",
            data: [2000, 3000, 3200],
          },
        ],
      });
    </script>
    {{!--  --}}
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
      Highcharts.chart("container2", {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: "pie",
        },
        title: {
          text: "Visitors this month",
        },
        tooltip: {
          pointFormat: "{series.name}: <b>{point.value}</b>",
        },
        accessibility: {
          point: {
            valueSuffix: "%",
          },
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              format: "<b>{point.name}</b>: {point.value}",
            },
          },
        },
        series: [
          {
            name: "Visitors",
            colorByPoint: true,
            data: [
              {
                name: "Unique Visitors",
                value: 1000,
                y: (1000 / 1500) * 100,
              },
              {
                name: "Other Visitors",
                value: 500,
                y: (500 / 1500) * 100,
              },
            ],
          },
        ],
      });
    </script>
    {{!--  --}}
     <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
      Highcharts.chart("container3", {
        chart: {
          type: "column",
        },
        title: {
          text: "Instagram clicks by month",
        },
        xAxis: {
          categories: ["Jan", "Feb", "Mar"],
          //   crosshair: true,
        },
        yAxis: {
          min: 0,
          title: {
            text: "FB clicks",
          },
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0,
          },
          series: {
            label: {
              enabled: false,
            },
          },
        },
        series: [
          {
            name: "Project 1",
            data: [2000, 3000, 3200],
          },
        ],
      });
    </script>
</section>