<main class="faqPage">
  <section>
    <div class="bodyText">
        <div class="logo-wrapper">
            <img src="./images/projectify_logo_colour.png" alt="" />
        </div>
        <ul>
            <li><span><i class="fas fa-bullseye"></i></span> What do I get from working with Projectify?</li>
            <li><span><i class="fas fa-bullseye"></i></span> What exactly is a “Real Lead”?</li>
            <li><span><i class="fas fa-bullseye"></i></span> What am I responsible for doing when I work with Projectify?</li>
            <li><span><i class="fas fa-bullseye"></i></span> You say I will get “Real Leads. Real Results.” How do you do that?</li>
            <li><span><i class="fas fa-bullseye"></i></span> How do I track or monitor the quality of Real Leads you deliver?</li>
            <li><span><i class="fas fa-bullseye"></i></span> Can you get my website to page 1 on Google?</li>
            <li><span><i class="fas fa-bullseye"></i></span> Is this one of those lead programs where every company gets the same?</li>
            <li><span><i class="fas fa-bullseye"></i></span> Do you blog for us, or is that something we have to do ourselves?</li>
            <li><span><i class="fas fa-bullseye"></i></span> Do you have client references that I can speak to before I make a decision?</li>
        </ul>
              <a href="https://drive.google.com/file/d/19KpKp-WrR76qX9qC1ea750JynCpHiBA3/view?usp=sharing" class="primaryBtn" target="_blank">Download FAQ</a>
    </div>
    <div class="bodyImg">
      <div class="wrapper">
        <img src="./images/landing_page.png" alt="image of mobile phone" />
      </div>
    </div>
  </section>
</main>