<main class="home">
  <section>
    <div class="bodyText">
        <div class="logo-wrapper">
            <img src="./images/projectify_logo_colour.png" alt="" />
        </div>
      <p>AWARD AUSTRALIA'S NO.1 LEAD GENERATION MARKETING AGENCY. Your business
        deserves the best. If you're interested in growing your business,
        generating more leads or driving more sales get a Free Strategy Session
        now and make this your year.
      </p>
      <button class="primaryBtn" id="StartButton">Get Started</button>
    </div>
    <div class="bodyImg">
      <div class="wrapper">
        <img src="./images/landing_page.png" alt="image of mobile phone" />
      </div>
    </div>
  </section>
</main>