<main>
 <div class="body-text">
     <img src="./images/projectify_logo_colour.png" alt="">
     <p>AWARD AUSTRALIA'S NO.1 LOAD GENERATION MARKETING AGENCY. Your business deserves the best. If you're interested in growing your business, generating more leads or driving more sales ge a Free Stratagy Session now and make this your year. </p>
     <button id="start-button">Get Started</button>
     <img src="" alt="">
 </div>
</main>