 <section class="productsPage">
     <h2>Invoices</h2>
        <div class="d-flex">
            <div>
            <h2>Eastlakes</h2>
            <ul>
                <li><span><i class="fas fa-star"></i></span> January</li>
                <li><span><i class="fas fa-star"></i></span> February</li>
                <li><span><i class="fas fa-star"></i></span> March</li>
                <li><span><i class="fas fa-star"></i></span> April</li>
                <li><span><i class="fas fa-star"></i></span> May</li>
                <li><span><i class="fas fa-star"></i></span> June</li>
            </ul>
        </div>
        <div>
            <h2>Balmain</h2>
            <ul>
                <li><span><i class="fas fa-star"></i></span> January</li>
                <li><span><i class="fas fa-star"></i></span> February</li>
                <li><span><i class="fas fa-star"></i></span> March</li>
                <li><span><i class="fas fa-star"></i></span> April</li>
                <li><span><i class="fas fa-star"></i></span> May</li>
                <li><span><i class="fas fa-star"></i></span> June</li>
            </ul>
        </div>
        <div>
            <h2>West Pennant Hills</h2>
            <ul>
                <li><span><i class="fas fa-star"></i></span> January</li>
                <li><span><i class="fas fa-star"></i></span> February</li>
                <li><span><i class="fas fa-star"></i></span> March</li>
                <li><span><i class="fas fa-star"></i></span> April</li>
                <li><span><i class="fas fa-star"></i></span> May</li>
                <li><span><i class="fas fa-star"></i></span> June</li>
            </ul>
        </div>
        </div>
        <div class="d-grid">
        </div>
        <a href="./images/invoicepdf.pdf" download="">Download Pdf</a>
    </section>