 <section class="productsPage invoicePage">
     <h2>Invoices</h2>
        <div class="d-flex">
            <div>
            <h2>Eastlakes</h2>
            <ul>
                <li><span><i class="fas fa-bullseye"></i> January </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> February </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> March </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> April </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> May </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> June </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
            </ul>
        </div>
        <div>
            <h2>Balmain</h2>
            <ul>
                <li><span><i class="fas fa-bullseye"></i> January </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> February </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> March </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> April </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> May </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> June </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
            </ul>
        </div>
        <div>
            <h2>West Pennant Hills</h2>
            <ul>
                <li><span><i class="fas fa-bullseye"></i> January </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> February </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> March </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> April </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> May </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
                <li><span><i class="fas fa-bullseye"></i> June </span> <a href="./images/invoicepdf.pdf" download="">Download Pdf</a></li>
            </ul>
        </div>
        </div>
        <div class="d-grid">
        </div>
        {{!-- <a href="./images/invoicepdf.pdf" download="">Download Pdf</a> --}}
    </section>