<section class="signupPage loginPage">
  <div class="section wrapper">
    <div class="bodyImg"> 
      <div class="wrapper">
        <img src="images/graph_picture.png" />
      </div>
    </div>
    <div class="bodyWrapper">
      <h2>Client portal login</h2>
      <form id="login-form" action="/api/users/login" method="POST">
        <div class="d-flex">
          <input id="email-login" name="email" type="text" placeholder="Email" />
          <input id="password-login" type="text" name="password" placeholder="Password" class="pass" />
        </div>
        <input type="submit" class="primaryBtn" placeholder="Register" value="log in" />
      </form>
    </div>
  </div>
</section>

{{!-- <script src="/js/login.js"></script> --}}