<section class="signupPage loginPage">
  <div class="section wrapper">
    <div class="bodyImg"> 
      <div class="wrapper">
        <img src="images/graph_picture.png" />
      </div>
    </div>
    <div class="bodyWrapper">
      <h2>Client portal login</h2>
      <form action="">
        <div class="d-flex">
          <input type="text" placeholder="Username" />
          <input type="text" placeholder="Password" class="pass" />
        </div>
        <input type="button" class="primaryBtn" placeholder="Register" value="log in" />
      </form>
    </div>
  </div>
</section>