<main class="home">
  <section class="privacyPage">
    <div class="bodyText">
      <div class="logo-wrapper">
        <img src="./images/projectify_logo_colour.png" alt="" />
      </div>
      <p>This privacy statement describes how Projectify collects and uses the
        personal information you provide on our Web site:www.projectify.com.au.
        It also describes the choices available to you regarding our use of your
        personal information and how you can access and update this information.
      </p>
      <a href="./images/privacypdf.pdf" class="primaryBtn" download>Download Pdf</a>
    </div>
    <div class="bodyImg">
      <div class="wrapper">
        <img src="./images/all_devices.png" alt="image of all devices" />
      </div>
    </div>
  </section>
</main>