 <section class="productsPage">
        <div class="d-flex">
            <div>
            <h2>Landing Page</h2>
            <ul>
                <li><span><i class="fas fa-bullseye"></i></span>  Connect with your audience</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Expand your reach</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Link with Social Media</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Collect qualified leads</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Grow your database</li>
                <li><span><i class="fas fa-bullseye"></i></span>  $5,000 per project</li>
            </ul>
        </div>
        <div>
            <h2>Facebook</h2>
            <ul>
                <li><span><i class="fas fa-bullseye"></i></span>  Drive massive scale</li>
                <li><span><i class="fas fa-bullseye"></i></span>  The largest social network</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Produce Real Time Business Outcomes</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Increase in Revenue</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Return on Ad spend</li>
                <li><span><i class="fas fa-bullseye"></i></span>  $1,000 /month</li>
            </ul>
        </div>
        <div>
            <h2>Instagram</h2>
            <ul>
                <li><span><i class="fas fa-bullseye"></i></span>  Leverage direct response creatives </li>
                <li><span><i class="fas fa-bullseye"></i></span>  Convert cold and warm audiences</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Grow your brand awareness</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Introduce new products</li>
                <li><span><i class="fas fa-bullseye"></i></span>  Return on Ad Spend</li>
                <li><span><i class="fas fa-bullseye"></i></span>  $1,000 /month</li>
            </ul>
        </div>
        </div>
        <div class="d-grid">
        <p>All three items will be included instantly for your first month. Once we setup a landing page for the campaign, you will only add the social ads each month unless the campaign parameters change and we need create a new landing page </p>
        <a href="/team" class="primaryBtn">tell me more</a>

        </div>
    </section>