<section class="projectPage">
  <div class="d-flex">
    <div class="img-block">
      <img src="../images/woolie_mobile_grey.png" alt="company logo phone" />
    </div>
    <div class="project-block">
      {{#if projects.length}}

        {{#each projects}}
        <div class="projectCard">
          <div class="header">
            {{#if active}}
              <span class="circle-active"></span>
            {{else}}
              <span class="circle-inactive"></span>
            {{/if}}

              <h2>{{project_name}}</h2>
          </div>
          <p>{{description}}</p>
        
        </div>
        {{/each}}

        {{else}}
        <p>No Projects Available</p>

      {{/if}}

  </div>
</section>