<section class="signupPage">
  <div class="section wrapper">
    <div class="bodyImg"> 
      <div class="wrapper">
        <img src="images/tablet_data.png" />
      </div>
    </div>
    <div class="bodyWrapper">
      <h2>Register with us</h2>
      <form action="/api/users" method="POST">
        <div class="d-flex">
          <input type="text" name="firstname" placeholder="FirstName" />
          <input type="text" name="lastname" placeholder="LastName" />
        </div>
        <div class="d-flex">
          <input type="text" name="email" placeholder="Email" />
          <input type="text" name="phone" placeholder="PhoneNumber" />
        </div>
        <div class="d-flex">
          <input type="text" name="company" placeholder="Company" />
          <input type="text" name="abn" placeholder="ABN (No spaces)" />
        </div>
        <div>
        <input type="text" name="address" placeholder="Address" />
        <input type="password" name="password" placeholder="Password" class="pass" />
        </div>
        <input type="submit" class="primaryBtn" placeholder="Register" value="register" />
      </form>
    </div>
  </div>
</section>