<section class="signupPage">
  <div class="section wrapper">
    <div class="bodyImg"> 
      <div class="wrapper">
        <img src="images/tablet_data.png" />
      </div>
    </div>
    <div class="bodyWrapper">
      <h2>Register with us</h2>
      <form action="">
        <div class="d-flex">
          <input type="text" placeholder="FirstName" />
          <input type="text" placeholder="LastName" />
        </div>
        <div class="d-flex">
          <input type="text" placeholder="Email" />
          <input type="text" placeholder="PhoneNumber" />
        </div>
        <div class="d-flex">
          <input type="text" placeholder="Company" />
          <input type="text" placeholder="ABN" />
        </div>
        <div>
        <input type="text" placeholder="Address" />
        <input type="text" placeholder="Password" class="pass" />
        </div>
        <input type="button" class="primaryBtn" placeholder="Register" value="register" />
      </form>
    </div>
  </div>
</section>