<section class="signupPage">
  <div class="section wrapper">
    <div class="bodyImg"> 
      <div class="wrapper">
        <img id="tablet-design" src="images/tablet_data.png" alt="Tablet Design Information"/>
      </div>
    </div>
    <div class="bodyWrapper">
      <h2>Register with us</h2>
      <form id="signup-form">
        <div class="d-flex">
          <input id="firstname-signup" type="text" name="firstname" placeholder="First Name"/>
          <input id="lastname-signup" type="text" name="lastname" placeholder="Last Name"/>
        </div>
        <div class="d-flex">
          <input id="email-signup" type="text" name="email" placeholder="Email"/>
          <input id="phone-signup" type="text" name="phone" placeholder="Phone Number"/>
        </div>
        <div class="d-flex">
          <input id="company-signup" type="text" name="company" placeholder="Company"/>
          <input id="abn-signup" type="text" name="abn" placeholder="ABN (No spaces)"/>
        </div>
        <div>
        <input id="address-signup" type="text" name="address" placeholder="Address"/>
        <input id="password-signup" type="password" name="password" placeholder="Password" class="pass"/>
        </div>
        <input type="submit" class="primaryBtn" placeholder="Register" value="register"/>
      </form>
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>