<section class=" teamPage">
    <h2 class="team-header">Our Experienced Team Members</h2>
  <div class="d-flex">

    <div class="Team1 team">
      <h2><span><i class="fas fa-star"></i></span> Leon Hsu</h2>
      <p>Where the magic happens! A motivated Web Developer and designer! A
        coffee enthusiast and Barista. Loves a good workout and enjoys playing
        music.</p>
        <div class="logo-wrapper">
        <img src="./images/man.png" />
        </div>
    </div>
    <div class="Team2 team">
      <h2><span><i class="fas fa-star"></i></span> Peter Siapkas</h2>
      <p>Your friendly digital campaigner and aspiring coder. A background in
        graphic/web design and audio engineering music.</p>
        <div class="logo-wrapper">
        <img src="./images/man.png" />
        </div>
    </div>
    <div class="Team3 team">
      <h2><span><i class="fas fa-star"></i></span> Megan Skippen</h2>
      <p>A marketing professional working with mid-to-large sized organizations.
        Extensive experience in strategy, graphic design, and full-stack
        development.</p>
        <div class="logo-wrapper">
        <img src="./images/man.png" />
        </div>
    </div>
  </div>
  <div class="d-grid">
    <a href="/clientDetails" class="primaryBtn">i'm happy</a>
  </div>
</section>