<section class="confirmationPage">
  <h2>Your Details</h2>
  <div class="d-flex">
    <div>
      <ul>
        <li><span><i class="fas fa-star"></i></span> Name: Megan skippen</li>
        <li><span><i class="fas fa-star"></i></span>
          Email: msskippen@gmail.com(*username)</li>
        <li><span><i class="fas fa-star"></i></span> Mobile: 0406 611 044</li>
        <li><span><i class="fas fa-star"></i></span>
          Company: Project Agents Pty Ltd</li>
        <li><span><i class="fas fa-star"></i></span> ABN: 34 345 456</li>
      </ul>
    </div>
    <div>
      <ul>
        <li><span><i class="fas fa-star"></i></span> Month start: January</li>
        <li><span><i class="fas fa-star"></i></span> Landing Page: Yes</li>
        <li><span><i class="fas fa-star"></i></span> Facebook: Yes</li>
        <li><span><i class="fas fa-star"></i></span> Instagram: Yes</li>
        <li><span><i class="fas fa-star"></i></span> TOTAL: $7,000/ January</li>
      </ul>
    </div>
  </div>
  <div class="d-grid">

  <a href="/login" class="primaryBtn">view my dashboard</a>
  </div>

</section>