@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;500;600&display=swap");
header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
}
main.container {
  max-height: 70vh;
  height: 70vh;
  overflow: hidden;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
/* GENERAL STYLE RULES */
main h2 {
  color: rgb(62, 62, 63);
  font-family: "Fira Sans", sans-serif;
  font-weight: 350;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.logo-wrapper {
  width: 180px;
  margin-bottom: 0.9rem;
}
.section.wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
main.container .bodyWrapper {
  margin: 4rem auto;
}
.d-flex {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.d-flex.justify-space-between {
  justify-content: space-between;
}
.primaryBtn {
  font-weight: 500;
  background-color: rgb(255, 104, 97);
  margin-top: 1.3rem;
  color: #fff;
  border: 1px solid rgb(255, 104, 97);
  padding: 0.7rem 2.6rem;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
/* NAV STYLING */
section.navigation nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 10vh;
  width: 95%;
  margin: 0 auto;
}
section.navigation nav .logo-container {
  width: 40px;
  height: 40px;
  display: inline-block;
}
section.navigation nav .logo-container img {
  width: 100%;
}
section.navigation nav .nav-group {
  display: flex;
  align-items: center;
}
section.navigation nav .item {
  margin: 0 0.8rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  color: rgba(62, 62, 63, 1);
}
.ui.secondary.menu .item.active {
  font-weight: 500;
}
/* END OF NAV  */
/* HOME STYLING */
main.container {
  background: url(../images/backgroundimgwhite.png);
}
main.home section, main.faqPage section {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
main.home section img, main.faqPage section img {
  width: 100%;
}
main.home section .bodyText {
  transform: translate(24%, 22%);
}
/* FOOTER STYLES */
footer #footer-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
footer {
  background: rgb(62, 62, 63);
  color: #fff;
  height: 20vh;
}
footer img {
  width: 100%;
}
footer a {
  color: #fff;
  display: inline-block;
  margin: 2rem 0;
  margin-right: 2.6rem;
}
footer .logo {
  margin-top: 4rem;
}
/* SIGNUP STYLES */
section.signupPage .bodyWrapper h2 {
  color: rgb(62, 62, 63);
  font-family: "Fira Sans", sans-serif;
  font-weight: 350;
  font-size: 2rem;
  margin-bottom: 1rem;
}
section.signupPage form {
  width: 100%;
}
section.signupPage form input:not(input[type="button"]) {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  margin: 0.4rem 0;
  border: none;
}
section.signupPage .bodyWrapper form .d-flex input {
  margin-right: 0.5rem;
}
section.signupPage .bodyWrapper form input.pass {
  /* margin-top: 0.8rem; */
}
/* PRODUCT PAGE STYLING */
section.productsPage div,
section.confirmationPage div {
  width: 100%;
}
section.productsPage,
section.teamPage,
section.confirmationPage,
section.dashboardPage,
section.projectPage {
  width: 80%;
  margin: 0 auto;
  transform: translate(0%, 2%);
}
section.productsPage {
  transform: translate(0%, 8%);
}
section.productsPage .d-flex h2 {
  border-bottom: 1px solid rgb(220, 216, 209);
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 0;
}
section.productsPage li,
section.confirmationPage li {
  padding: 0.8rem 0;
  margin-left: 2.5rem;
}
section.productsPage .d-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 1rem;
}
section.productsPage p {
  width: 80%;
}
section.productsPage div,
section.confirmationPage div {
  background: #fff;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  margin-right: 3rem;
}section.productsPage .d-flex
section.productsPage div:last-child, section.productsPage .d-flex, section.productsPage div:last-child {
  /* background: transparent; */
}
section.productsPage .d-grid {
  background-color: transparent;
}
section.productsPage ul li i,
section.confirmationPage ul li i {
  color: rgb(255, 104, 97);
}
/* TEAM PAGE STYLES */
section.teamPage .d-flex .logo-wrapper {
  width: 100px;
  margin-right: 0;
  margin-left: auto;
}
section.teamPage img {
  width: 100%;
}
section.teamPage .team {
  background-color: #fff;
  margin-right: 4rem;
  width: 100%;
  padding: 1rem;
}
section.teamPage .team:last-child {
  margin-right: 0;
}
section.teampage h2.team-header {
  margin: 3rem 0;
}
section.teamPage .team i {
  color: rgb(255, 104, 97);
}
section.teamPage .d-grid,
section.confirmationPage .d-grid {
  display: flex;
}
section.teamPage .d-grid a,
section.confirmationPage .d-grid a {
  margin-right: 0;
  margin-left: auto;
}
section.teamPage .team p {
  width: 90%;
  line-height: 1.5;
}
/* CONFIRMATION PAGE */
section.confirmationPage {
  transform: translate(0, 15%);
}
section.confirmationPage div {
  margin-right: 1rem;
  background: transparent;
}
/* LOGIN PAGE */
section.loginPage .bodyImg {
  width: 50vw;
}
section.loginPage img {
  width: 100%;
}
section.loginPage .bodyWrapper {
  margin: 8rem auto;
}
/* DASHBOARD STYLES */
section.dashboardPage .imgBlock {
  width: 30vw;
  margin-right: 1rem;
}
section.dashboardPage h2 {
  margin-top: 3rem;
}
section.dashboardPage select {
  padding: 1rem;
    width: 30%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 51px;
}
/* PROJECTPAGE STYLES */
section.projectPage .img-block {
  width: 30vw;
}
section.projectPage .img-block img {
  width: 100%;
}
section.projectPage span.circle-active {
  width: 40px;
  height: 40px;
  background: rgb(180, 216, 82);
  display: inline-block;
  border-radius: 50%;
  margin-right: 1.5rem;
}
section.projectPage span.circle-inactive {
  width: 40px;
  height: 40px;
  background: rgb(180, 216, 82);
  display: inline-block;
  border-radius: 50%;
  margin-right: 1.5rem;
}
section.projectPage .header {
  display: flex;
}
section.projectPage .projectCard {
  background: #fff;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}
section.projectPage h5 {
  font-weight: 400;
  margin-top: 0.6rem;
  color: rgb(62, 62, 63);
}
section.projectPage span i {
  color: rgb(255, 104, 97);
}
section.projectPage .d-flex {
  justify-content: space-between;
  margin-top: 0.6rem;
}
section.projectPage {
  width: 80%;
  margin: 0 auto;
  transform: translate(0%, 9%);
}
/* faq styles */
.faqPage .wrapper {
  width: 100%;
}
.faqPage .bodyText {
  width: 100%;
  transform: translate(10%, 10%);
}
.faqPage .bodyText li {
  line-height: 2;
}
.faqPage ul {
  background-color: transparent;
}
.faqPage ul li span i, .invoicePage ul li span i, i {
  color: rgb(255, 104, 97);
}
/* PRIVACY PAGE STYLES */
section.privacyPage .bodyText {
  transform: translate(10%, 40%) !important;
  width: 40%;
}
section.privacyPage .bodyImg {
  width: 50%;
}
.invoicePage li {
  display: flex;
  justify-content: space-between;
}